<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Breakfast Bot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<h1>Breakfast Bot</h1>
<form method=post>
	<input type=submit name=action value=drop_spoon_small><br/>
	<input type=submit name=action value=drop_spoon_big><br/>
	<input type=submit name=action value=rotate_clockwise><br/>
	<input type=submit name=action value=rotate_anticlockwise><br/>
	<input type=submit name=action value=swing_clockwise><br/>
	<input type=submit name=action value=swing_anticlockwise><br/>
</form>
</body>
</html>
